:host {
  display: block;

  padding: 24px 16px;

  border-radius: 12px;

  background: #101010;

  color: white;

  text-align: right;

  font-size: 2.5rem;

  font-weight: bold;

  overflow: hidden;
}