<!-- <p>{{ title | uppercase | titlecase | lowercase }}</p>
<p>{{ price | number: "5.5-10" }}</p>
<p>{{ price | currency: "CAD" : "symbol-narrow" : "5.5-10" }}</p>
<p>{{ name }}</p>
<p>{{ name | firstLetter }}</p>
 -->

<form [formGroup]="form" action="">
  <label for="name">Name</label>
  <input
    [ngClass]="{ 'input-error': isControlInvalid('name') }"
    formControlName="name"
    type="text"
  />
  <span class="error" *ngIf="hasError('name', 'required')"
    >El campo es requerido</span
  >
  <span class="error" *ngIf="hasError('name', 'minlength')"
    >El campo debe tener mínimo 3 caracteres</span
  >

  <label for="lastname">Last Name</label>
  <input
    [ngClass]="{ 'input-error': isControlInvalid('lastname') }"
    formControlName="lastname"
    type="text"
  />
  <span class="error" *ngIf="hasError('name', 'required')"
    >El campo es requerido</span
  >
  <span class="error" *ngIf="hasError('name', 'minlength')"
    >El campo debe tener mínimo 3 caracteres</span
  >

  <label for="">Email</label>
  <input
    [ngClass]="{ 'input-error': isControlInvalid('email') }"
    formControlName="email"
    type="text"
  />

  <label for="">Edad</label>
  <input
    [ngClass]="{ 'input-error': isControlInvalid('age') }"
    formControlName="age"
    type="number"
  />

  <label for="">Password</label>
  <input
    [ngClass]="{ 'input-error': isControlInvalid('password') }"
    formControlName="password"
    type="password"
  />

  <button
    (submit)="save()"
    (click)="save()"
    type="submit"
    [disabled]="form.invalid"
  >
    Guardar
  </button>
</form>
