<div class="page">
    <app-navbar></app-navbar>
    <div class="product-grid">
        <div class="product-card" *ngFor="let album of albums">
            <button class="remove-btn" (click)="onRemove(album)">✕</button>

            <div class="image-container">
                <img src="https://placehold.co/300" />
            </div>

            <div class="info">
                <h3>{{ album.title }}</h3>
                <span>${{ album.albumId }}</span>
                <span>{{ album.id }}</span>
                <span>${{ album.url }}</span>
                <span>${{ album.thumbnailUrl }}</span>
            </div>
        </div>
    </div>
</div>
