:root {
    --fondo: white;
    --fondo-btn: lightblue;
    --color-texto: #383838;
}

.dark {
    --fondo: #383838;
    --fondo-btn: rgb(213, 213, 213);
    --color-texto: red;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--fondo);
}

.btn {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    background-color: var(--fondo-btn);
    color: var(--color-texto);
    border: none;
    cursor: pointer;
}
