.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.3s linear;
    font-size: 1.5rem;
}

.btn:hover {
    transform: scale(1.1);
}

.btn[disabled] {
    opacity: 0.5;
    cursor: default;
}

.btn[disabled]:hover {
    transform: scale(1);
}