.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.description {
  font-size: 2rem;
}

.details-btn {
  border: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--success-color);
  border-radius: 8px;

  &:hover {
    background-color: var(--accent-color);
  }

  &:active {
    transform: scale(0.97);
  }
}