* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.container {
    border: 4px black solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.8rem;
    gap: 0.5rem;
    background-color: #e3e3e3;
    border-radius: 6px;
}

.display {
    grid-column: span 4;
    width: 100%;
    height: 2rem;
    background-color: gray;
}

button {
    cursor: pointer;
    border-radius: 3px;
    padding: 0.2rem;
    border: 1px solid black;
}

.equal {
    background-color: #ff8d1b;
}

.clear {
    background-color: rgb(255, 100, 100);
}
