* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.menu {
    background-color: aliceblue;
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 4rem;
}

.enlaces {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
}

.enlaces a {
    text-decoration: none;
    color: black;
}

.activo {
    font-weight: bold;
    transform: scale(1.1);
}
