:root {
    --background-color: pink;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

/* .dark-mode {
    --background-color: purple;
} */

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: purple;
    }
}