* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

@keyframes load {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.container {
    width: 300px;
    height: 50px;
    background-color: gray;
}

.loader {
    background-color: blue;
    height: 100%;
    width: 0%;
    animation: load 3s linear infinite;
}

.loader:hover {
    animation-play-state: paused;
}
