services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_USER=todo
      - MYSQL_PASSWORD=todo_password
      - MYSQL_DATABASE=todos
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  mysql:
