* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.absolute {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.relative-container {
    width: 300px;
    height: 300px;
    position: relative;
}

.absolute-child {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.fixed {
    position: fixed;
    right: 0px;
    top: 0px;
}

.sticky {
    position: sticky;
    right: 50%;
    top: 0px;
}
