<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Usuario</th>
      <th>Correo</th>
      <th>Teléfono</th>
    </tr>
  </thead>

  <tbody>
    @for (user of users$ | async; track user.id) {
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
    </tr>
    } @empty {
    <tr>
      <td colspan="5">No hay usuarios disponibles.</td>
    </tr>
    }
  </tbody>
</table>
