.container {
  display: flex;
  flex-direction: column;
  gap: .1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.text:hover {
  background-color: rgb(255, 255, 139);
  cursor: pointer;
}