.form-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.input {
  outline: none;
  border: 1px solid rgb(149, 149, 149);
  font-size: 1.5rem;
  padding: 0.2rem;
}

.submit-btn {
  background-color: rgb(145, 255, 145);
  border-radius: 16px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;

  &:hover {
    transform: scale(0.9);
  }
}