*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Spinner */
.spinner {
    width: 100px;
    height: 100px;
    border: aqua 15px solid;
    border-radius: 50%;
    border-top: black solid 15px;
    animation: spin 2s ease-in-out infinite normal;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* Skeleton Loading */
.container {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
}

.skeleton {
    width: 100%;
    height: 16px;
    background-color: red;
    border-radius: 16px;
    background: #324a4a;
    background: linear-gradient(90deg, #334155 25%, #828181 50%, #334155 75%);
    background-size: 200% 100%;
    animation: move-background 3s ease infinite;
}

.skeleton:nth-child(2) {
    width: 80%;
}

.skeleton:nth-child(3) {
    width: 60%;
}

@keyframes move-background {
    from {
        background-position: 200% 0%;
    }

    to {
        background-color: -200% 0%;
    }
}

/* Loading dots */
.loading {
    width: 100px;
    display: flex;
    gap: 8px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: purple;
    animation: jump 0.9s linear infinite alternate;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes jump {
    to {
        transform: translateY(-20px);
    }

}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.1ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.1ms !important;
    }
}