@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

:root {
    --rojo: red;
    --azul: blue;
    --column: flex;
    --rotate: rotate 1s infinite;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.spinner {
    width: 100px;
    height: 20px;
    background-color: var(--rojo);
    animation: var(--rotate);
}

.spinner2 {
    width: 100px;
    height: 20px;
    background-color: var(--azul);
    animation: var(--rotate);
}
