* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.block {
    display: block;
}

.inline {
    display: inline;
    width: 100vw;
    height: 100vh;
}

.inline-block {
    display: inline-block;
    width: 100px;
    height: 200px;
}

.none {
    display: none;
}
