.parent {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: red;
    border: 10px solid black;

    box-sizing: content-box;
}


.parent2 {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: red;
    border: 10px solid black;

    box-sizing: border-box;
}