* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#spinner {
    border: 4px solid purple;
    border-top: none;
    border-radius: 50%;
    padding: 0.7rem;
    animation: spin 1s ease-in-out infinite;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#btn {
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    background-color: rgb(165, 255, 165);
    transition: transform ease-in-out 0.3s;
    font-size: 2rem;
}

#btn:hover {
    cursor: pointer;
}

#btn:active {
    transform: scale(0.9);
}
