button {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--success-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color);
  }

  &:active {
    transform: scale(0.97);
  }
}

.material-symbols-outlined {
  font-size: 2rem;
}