.container {
    display: flex;
    background-color: lightgray;
    padding: 24px;
    border-radius: 24px;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    .card {
        display: flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

}

.decrement {
    background-color: rgb(255, 123, 123);
}

.increment {
    background-color: rgb(154, 255, 154);
}

.reset {
    background-color: rgb(255, 255, 121);
}