body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Se deben de cumplir todas las condiciones */
@media (max-width: 600px) and (max-height: 500px) {
    body {
        background-color: green;
    }
}

/* Se deben de cumplir alguna de las condiciones */
@media (max-width: 600px), (max-height: 500px) {
    body {
        background-color: blue;
    }
}

/* Se deben de cumplir la negación de las condición */
@media not (max-width: 600px) {
    body {
        background-color: yellow;
    }
}

@media print {
    body {
        background-color: yellow;
    }
}

@media screen and (min-width: 200px) {
    body {
        background-color: yellow;
    }
}

@media (orientation: landscape) {
    body {
        background-color: pink;
    }
}

@media (orientation: portrait) {
    body {
        background-color: brown;
    }
}

@media speech {
    body {
        background-color: yellow;
    }
}
