* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contenedor-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.tarjeta {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
}

@media screen and (min-width: 600px) {
    .contenedor-flex {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tarjeta {
        flex: 1 1 auto;
    }
}

@media screen and (min-width: 1000px) {
    .contenedor-flex {
        font-size: 3rem;
    }
}
