button {
  padding: 1em 0.5rem;
  border: none;
  border-radius: 24px;
  transition: transform ease-in-out 0.3;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}

button:hover {
  cursor: pointer;
}