.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.brown {
    background-color: brown;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.aliceblue {
    background-color: aliceblue;
}

.orange {
    background-color: orange;
}