<article class="card">
  <header class="card-header">
    <h2>{{ user.name }}</h2>
    <span class="username">{{ "@" }}{{ user.username }}</span>
  </header>

  <div class="card-body">
    <p><strong>Email: </strong>{{ user.email }}</p>
    <p><strong>Teléfono: </strong>{{ user.phone }}</p>
    <p><strong>Website: </strong>{{ user.website }}</p>

    <div class="section">
      <h3>Dirección</h3>
      <p>
        {{ user.address.street }} -
        {{ user.address.suite }}
      </p>
      <p>{{ user.address.city }} - {{ user.address.zipcode }}</p>
    </div>
  </div>
</article>
