* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.btn {
    padding: 1rem 2rem;
    background: lightblue;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: blue;
    transform: rotate(45deg) translate(100px, 20px);
}
