* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.tarjeta {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1 1 300px;
    min-width: 300px;
}

@media (max-width) {
    .contenedor-flex {
        flex-direction: column;
    }
}