* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.clickeable {
    padding: 1rem 1.5rem;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
}

.clickeable:hover {
    background-color: red;
}

.clickeable:active {
    background-color: blue;
}

.input-email {
    background-color: aliceblue;
}

.input-email:focus {
    border: red solid 2px;
    outline: none;
}

tbody tr:nth-child(odd) {
    background-color: red;
}

tbody tr:nth-child(even) {
    background-color: rgb(0, 104, 183);
}

tbody tr:first-child {
    background-color: pink;
}

tbody tr:last-child {
    background-color: green;
}

input:not([type="email"]) {
    background-color: violet;
}

input:checked + label {
    color: blue;
}