* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.square {
    background-color: purple;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: 50px;
}

.aliceblue {
    background-color: aliceblue;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}