* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    padding: 1rem;
    border: red 2px solid;
    border-top: none;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#btn {
    border: none;
    padding: 1rem 2rem;
    background-color: rgb(90, 197, 255);
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
    border-radius: 24px;
    cursor: pointer;
}

#btn:active {
    transform: scale(0.95);
}

.found {
    color: rgb(70, 255, 70);
    font-size: 2rem;
}

#delay {
    border: none;
    outline: none;
    outline: 1px blue solid;
    font-size: 2rem;
}

#delay:hover {
    outline: 2px blue solid;
}
