<!--
<app-ng-if />
<app-ng-for />
<app-ng-switch />
-->

<!-- ng-container es una etiqueta de angular que no renderiza nada y
 solo sirve para usar directivas -->
<ng-container *ngIf="isAuthenticated; else noLogueado">
  <p *ngFor="let user of users; let i = index">
    {{i + 1}}. {{ user.name }}
  </p>
</ng-container>

<!-- ng-template es una etiqueta de angular que no renderiza nada y
 solo sirve referenciarlo por medio de un #id -->
<ng-template #noLogueado>
  <h1>No estas logueado, no puedes ver la información</h1>
</ng-template>

<button (click)="toggle()">{{ isAuthenticated ? 'Cerrar' : 'Iniciar' }} sesión</button>
