<div *ngIf="!isAuthenticated; else cerrarSesion" style="display: grid; flex-direction: column; gap:3rem; flex: 1;">
  <h1>Inicia sesión para ver el contenido</h1>
  <button (click)="login()">Iniciar sesión</button>
</div>

<ng-template #cerrarSesion>
  <div style="display: grid; flex-direction: column; gap:3rem; flex: 1;">
    <h1>Bienvenido de nuevo, usuario</h1>
    <button (click)="logout()">Cerrar sesión</button>
  </div>
</ng-template>

@if (!isAuthenticated) {
<div style="display: grid; flex-direction: column; gap:3rem; flex: 1;">
  <h1>Inicia sesión para ver el contenido</h1>
  <button (click)="login()">Iniciar sesión</button>
</div>
} @else {
<div style="display: grid; flex-direction: column; gap:3rem; flex: 1;">
  <h1>Bienvenido de nuevo, usuario</h1>
  <button (click)="logout()">Cerrar sesión</button>
</div>
}
