* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

@keyframes parpadear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

.btn {
    padding: 1rem 2rem;
    background: lightblue;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    animation: parpadear 3s ease-in-out 2;
}
