<h1 *ngIf="isAuth; else noEstaAuth">
  Estas logueado
</h1>

<ng-template #noEstaAuth>
  <h1>
    Debes iniciar sesión
  </h1>
</ng-template>

<!--
SOLO DISPONIBLE EN VERSIONES MODERNAS 16=<
@if (isAuth) {
<h1>
  Estas logueado
</h1>
} @else {
<h1>
  Debes iniciar sesión
</h1>
}
 -->

<div *ngFor="let user of users; let i = index">
  <p>{{ i }}</p>
  <p>{{ user.name }}</p>
  <p>{{ user.age }}</p>
</div>

<!--
SOLO DISPONIBLE EN VERSIONES MODERNAS 16=<
@for (user of users; track $index) {
<div>
  <p>{{ $index }}</p>
  <p>{{ user.name }}</p>
  <p>{{ user.age }}</p>
</div>
}
 -->

<span [ngSwitch]="day">
  <span *ngSwitchCase="'Lunes'">Hoy es Lunes</span>
  <span *ngSwitchCase="'Martes'">Hoy es Martes</span>
  <span *ngSwitchDefault>Este día no existe</span>
</span>
