* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 900px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "header header icono"
        "hero hero icono"
        "footer footer footer";
    /* gap: 1rem; Añade espaciado entre filas y columnas */
}

.red {
    background-color: red;
    grid-area: header;
}

.pink {
    background-color: pink;
    grid-area: icono;
}

.blue {
    background-color: blue;
    grid-area: hero;
}

.green {
    grid-area: footer;
    background-color: green;
}

.brown {
    background-color: brown;
}

.black {
    background-color: black;
}

.aliceblue {
    background-color: aliceblue;
}

.gray {
    background-color: gray;
}

.cyan {
    background-color: cyan;
}
