* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.block {
    display: block;
}

.inline {
    display: inline;
    width: 300px;
    height: 500px;
}

.inline-block {
    display: inline-block;
    width: 300px;
}

.none {
    display: none;
}
