main {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
}

.counter-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

span {
    font-size: 2rem;
}

button {
    font-size: 1.2rem;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    outline: none;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.increment {
    background-color: #6fe5ff;
}

.decrement {
    background-color: rgb(255, 152, 152);
}

.clear {
    background-color: rgb(252, 255, 81);
}
