* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }

    12.5% {
        transform: translateY(-50px);
    }

    25% {
        transform: translateY(0px);
    }

    37.5% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(0px);
    }

    62.5% {
        transform: translateY(50px);
    }

    75% {
        transform: translateY(0px);
    }

    87.5% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0px);
    }
}

.btn {
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 16px;
    background-color: lightblue;
    color: #383838;
    border: none;
    cursor: pointer;
    animation: move infinite 3s;
}
