* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media screen and (orientation: landscape) {
    .text {
        font-size: 2rem;
        color: red;
    }
}

@media screen and (orientation: portrait) {
    .text {
        font-size: 2rem;
        color: blue;
    }
}

@media print {
    .text {
        font-size: 10rem;
        color: yellow;
    }
}