* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 1rem;
}

.card {
    height: 35vh;
    width: 90vw;
    background-color: rgb(132, 132, 132);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

button {
    font-size: 1.2rem;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 52px;
    overflow-y: scroll;
    padding: 28px 0px;
}

/* Tablets */
@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 300px;
    }
}

/* Escritorio / Resto */
@media screen and (min-width: 900px) {
    html {
        font-size: 20px;
    }

    .card {
        width: 50vh;
    }
}
