.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #616161;
  width: 200px;
  padding: 16px;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 12px;
}