.card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: lightgray;
    border-radius: 1rem;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
}

.price {
    font-size: 0.8rem
}

.group {
    display: flex;
    padding: 0.4rem;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}