* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.fixed {
    position: fixed;
    top: 0px;
    left: 50%;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
}

.absolute-2 {
    position: absolute;
    left: 50%;
    top: 0px;
}

/* .sticky {
    position: sticky;
}
 */

.container-relative {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: blue;
}
