.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.buttons-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}