<div class="container">
  <div class="buttons-row">
    <app-action-button
      text="Decrementar"
      backgroundColor="rgb(255, 135, 135)"
      (action)="decrement()"
    ></app-action-button>
    <app-counter-display [text]="counter"></app-counter-display>
    <app-action-button
      text="Incrementar"
      backgroundColor="rgb(121, 251, 121)"
      (action)="increment()"
    ></app-action-button>
  </div>
  <app-action-button
    text="Restablecer"
    backgroundColor="rgb(255, 255, 110)"
    (action)="reset()"
  ></app-action-button>
</div>
