.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.buttons-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

button {
  padding: 1em 0.5rem;
  border: none;
  border-radius: 24px;
  transition: transform ease-in-out 0.3;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}

button:hover {
  cursor: pointer;
}

.decrement {
  background-color: rgb(255, 135, 135);
}

.increment {
  background-color: rgb(121, 251, 121);
}

.reset {
  background-color: rgb(255, 255, 110);
}