.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 30px;
}

.name {
  font-weight: 700;
  font-size: 1.5rem;
}

.information {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.team {
  font-size: 1.1rem;
}
