nav {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;

    img {}

    .options {
        margin: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .logout {
        color: red;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.3 ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}