div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-size: 1.5rem;
}

input {
    padding: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

input:focus {
    border: 2px solid #45d4b2;
}