* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 100vh;
}

.blue {
    background-color: blue;
    /*     grid-column: 1 / 5;
    grid-row: 2 / 4; */
    grid-column: span 4;
    grid-row: span 2;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
.gray {
    background-color: gray;
}
.black {
    background-color: black;
}
.brown {
    background-color: brown;
}
