* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 16px;
    background-color: lightblue;
    color: #383838;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px gray;
}

.btn:active {
    transform: scale(0.9);
    box-shadow: 2px 2px 2px gray;
}

input:focus {
    transform: scale(2);
    background-color: red;
    color: yellow;
}

tbody tr:nth-child(1) {
    background-color: red;
}

tbody tr:nth-child(even) {
    background-color: gray;
}

tbody tr:nth-child(odd) {
    background-color: yellow;
}

tbody tr:first-child {
    background-color: blue;
}

tbody tr:last-child {
    background-color: blue;
}

input[type="password"] {
    background-color: red;
}

input:not([type="password"]) {
    background-color: blue;
}

input:checked + label {
    color: green;
    font-size: 2rem;
}

.inputttt {
    width: 30rem;
}
