.container {
  display: grid;
  grid-template-rows: 20% 80%;
  padding: 4rem 5rem;
  height: 100vh;
  overflow-y: scroll;
}

nav {
  display: grid;
  grid-template-columns: 5% 95%;
  justify-content: space-between;
  width: 100%;
}

.cards {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-auto-rows: max-content;
  gap: 2rem;
}