* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.menu {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background: #2c3e50;
    transition: left 0.4s ease;
}

.menu.abierto {
    left: 0;
}

.lista li {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.3s ease;
}

.menu.abierto li {
    opacity: 1;
    transform: translateX(0);
}
