.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}


.clear-btn {
  background-color: yellow;
}

.minus {
  background-color: red;
}

.plus {
  background-color: green;
}