* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 600px;
    border: 10px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.red {
    background-color: red;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.brown {
    background-color: brown;
}
.purple {
    background-color: purple;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}
