* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.container {
    width: 100px;
    height: 100px;
    background-color: gray;
    transition: transform 2s ease, background-color 1s ease;
}

.container:hover {
    transform: rotate(360deg);
    background-color: red;
}
