<form [formGroup]="form">
  <h2>Crear cuenta</h2>

  <div class="form-group">
    <label for="name">Nombre</label>
    <input formControlName="name" id="name" type="text" placeholder="Ingrese su nombre">

    <small *ngIf="isInvalid('name', 'required')" class="error">
      El nombre es obligatorio.
    </small>

    <small *ngIf="isInvalid('name', 'minlength')" class="error">
      El nombre debe tener al menos 2 caracteres.
    </small>
  </div>

  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input formControlName="email" id="email" type="email" placeholder="correo@ejemplo.com">

    <small *ngIf="isInvalid('email', 'required')" class="error">
      El correo electrónico es obligatorio.
    </small>

    <small *ngIf="isInvalid('email', 'email')" class="error">
      Ingrese un correo electrónico válido.
    </small>
  </div>

  <div class="form-group">
    <label for="ficha">Ficha</label>
    <input formControlName="ficha" id="ficha" type="number" placeholder="3231660">

    <small *ngIf="isInvalid('ficha', 'required')" class="error">
      La ficha es obligatorio.
    </small>
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <input formControlName="password" id="password" type="password" placeholder="********">

    <small *ngIf="isInvalid('password', 'required')" class="error">
      La contraseña es obligatoria.
    </small>

    <small *ngIf="isInvalid('password', 'minlength')" class="error">
      La contraseña debe tener al menos 8 caracteres.
    </small>

    <small *ngIf="isInvalid('password', 'pattern')" class="error">
      La contraseña debe tener al menos 1 mayúscula, 1 minúscula, un símbolo y un número.
    </small>
  </div>

  <div class="form-group">
    <label for="age">Edad</label>
    <input formControlName="age" id="age" type="number" placeholder="18">

    <small *ngIf="isInvalid('age', 'required')" class="error">
      La edad es obligatoria.
    </small>

    <small *ngIf="isInvalid('age', 'min') || isInvalid('age', 'max')" class="error">
      La edad debe estar entre 1 y 120 años.
    </small>
  </div>

  <button type="submit" (click)="onClick()" [disabled]="form.invalid">
    Registrarse
  </button>
</form>
