* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: #e0e0e0;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}
